* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0rem !important;
}

@font-face {
  font-family: "Trap300";
  src: url("./assets/font/Trap-Light.otf");
}
@font-face {
  font-family: "Trap400";
  src: url("./assets/font/Trap-Regular.otf");
}
@font-face {
  font-family: "Trap500";
  src: url("./assets/font/Trap-Medium.otf");
}
@font-face {
  font-family: "Trap600";
  src: url("./assets/font/Trap-SemiBold.otf");
}
@font-face {
  font-family: "Trap700";
  src: url("./assets/font/Trap-Bold.otf");
}
@font-face {
  font-family: "Trap900";
  src: url("./assets/font/Trap-Black.otf");
}
