.profile-upper-section {
  background: #050505;
}

.profile-upper-section h1 {
  margin: 0px;
  padding: 55px 0px 40px 200px;

  font-family: "Trap300";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;

  display: flex;
  align-items: center;

  color: #ffffff;
}

/* ==================banner ====================*/

.profile-banner {
  background-image: url("../../../../../public/asset/Profile/profile-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #ffffff;
}

.profile-banner .profile-banner-inner {
  width: 70%;
  margin: 0 auto;
  padding: 180px 0px;
}

.profile-banner .profile-banner-inner .left {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.profile-banner .profile-banner-inner .left .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-banner .left .name {
  font-family: "Trap500";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  text-align: center;

  color: #ffffff;
}

.profile-banner .left .status {
  font-family: "Trap600";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  color: #ffffff;
}

.profile-banner .left .social-ico {
  padding-left: 10px;
  text-align: center;
}

.profile-banner .left .social-ico .ico {
  margin: 6px;
}

.profile-banner .left .followers {
  /* background-color: red; */
  display: flex;
  text-align: center;
  padding: 20px;
}

.profile-banner .left .followers .followers-div {
  margin: 6px;
}

.profile-banner .left .followers .followers-div .number {
  font-family: "Trap500";
  font-style: normal;
  font-weight: 500;
  font-size: 15.4563px;
  line-height: 17px;
  letter-spacing: 2.89806px;
  color: #ffffff;
}

.profile-banner .left .followers .followers-div .types {
  font-family: "Trap500";
  font-style: normal;
  font-weight: 500;
  font-size: 11.5923px;
  line-height: 13px;

  color: #ffffff;
  padding-top: 10px;
}

.profile-banner .profile-banner-inner .right .f-btn {
  text-align: end;
}

.profile-banner .profile-banner-inner .right .follow-btn {
  background: rgba(4, 4, 4, 0.8);
  outline: none;
  border: none;
  padding: 17px 40px;
  font-family: "Trap500";
  font-style: normal;
  font-weight: 500;
  font-size: 17.8951px;
  line-height: 20px;
  text-align: justify;

  color: #ffffff;
}

.profile-banner .profile-banner-inner .right .share-btn {
  background: rgba(71, 218, 251, 0.8);
  outline: none;
  border: none;
  padding: 17px 40px;

  font-family: "Trap500";
  font-style: normal;
  font-weight: 500;
  font-size: 17.8951px;
  line-height: 20px;
  text-align: justify;

  color: #ffffff;
  margin-left: 10px;
}

.profile-banner .profile-banner-inner .right .description {
  padding-top: 40px;
}

.profile-banner .profile-banner-inner .right .description h1 {
  font-family: "Trap500";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;

  color: #ffffff;
}

.profile-banner .profile-banner-inner .right .description p {
  font-family: "Trap400";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  padding-top: 12px;

  color: #ffffff;
}

/*================= categories===============*/

.categories {
  width: 70%;
  margin: 0 auto;

  padding: 140px 0px;
}

.categories .nav-pills .nav-link,
.categories .nav-pills .show > .nav-link {
  font-family: "Trap400";
  font-style: normal;
  font-weight: 400;
  font-size: 20.627px;
  line-height: 23px;
  text-align: justify;

  color: #000000;
}

.categories .nav-link {
  font-family: "Trap600";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  padding: 0;
  color: #000000;
  border: none;
  margin-right: 60px;
}

.categories .nav-link.active {
  position: relative;
  background-color: transparent !important;
  color: #000000;
}
.categories .nav-link.active::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #000;
  position: absolute;
  bottom: -60%;
  left: 0;
}

/* ================================1550 amd 1440 ====================== */
@media screen and (max-width: 1550px) {
  .profile-banner .profile-banner-inner {
    width: 85%;
    margin: 0 auto;
    padding: 180px 0px;
  }
}

/* ================================1368 and 1280 ====================== */
@media screen and (max-width: 1369px) {
  .profile-banner .profile-banner-inner {
    width: 90%;
    margin: 0 auto;
    padding: 180px 0px;
  }
}

/* ================================1024 ====================== */
@media screen and (max-width: 1080px) {
  .profile-banner .profile-banner-inner {
    width: 95%;
    margin: 0 auto;
    padding: 180px 0px;
  }
}
